.rbbqp_debug-message {
    margin: 1px auto;
    color: red;
    font-style: italic;
}

#product_total_price {
    margin: 5px auto;
    font-size: 1.8rem;
    font-weight: bold;
}

#product_total_price > span.rbbqp_price_suffix {
    font-weight: normal;
    font-size: 1.2rem;
}